/* Начало стилей для шапки */
.menu {
    text-align: right; /* Выравнивание вкладок справа*/
}

.menu p {
    display: inline-block; /* Располагает вкладки в одну строку (степик 2.3, шаг 8)*/
    background-color: white; /* Белый фон для неактивных вкладок*/
    padding: 10px; /* Внутренние отступы со всех сторон (степик 2.2, шаг 3)*/ 
    margin: 0; /* Внешние отступы со всез сторон (степик 2.2, шаг 3)*/
}

.menu a {
    text-decoration: none; /* Убирает подчёркивание у ссылок (степик 2.2, шаг 6)*/
    color: inherit; /* Наследование чёрного цвета от родителя(степик 2.6, шаг 5)*/
}

.menu .active {
    background-color: #4dabf5;  
    color: white;  
    border-radius: 4px 4px 0 0; /* Закругление уголков (степик 2.6, шаг 5)*/
}

.bar {
    background-color: #4dabf5;
    color: white;
    overflow: hidden; /* Охватывающий блок (степик 2.3, шаг 4) */
}

.bar p {
    font-size: 15px;
    float: left; /* Слоган слева (степик 2.3, шаг 5)*/
    margin: 10px;
    line-height: 30px;
}

.Search {
    float: right; /* Блок поиска справа (степик 2.3, шаг 5)*/
    padding: 5px 0;
    margin: 10px;
}

#btnsearch {
    background-color: #1769aa;
    color: white;
    text-decoration: none; /* Убирает подчёркивание у ссылок (степик 2.2, шаг 6)*/
    border-radius: 3px; /* Закругление уголков (степик 2.6, шаг 5)*/
    padding: 1px 10px;  
}
/* Конец стилей для шапки */

/* Начало стилей для галереи */

.gallery img {
    width: 100%;
    height: 100%;
}

.gallery {
    width: 90%; /*Ширина галереи - 90% от размера экрана*/
    height: 300px; /*Фиксированная высота у галереи*/
    margin: auto; /*Галерея по центру*/
    margin-bottom: 30px; /*Внешний отступ снизу*/
    padding: 2px;
    text-align: center; /*Выравнивание содержимого по центру*/
}

.gallery > div {  /*все div, которые являются дочерними элементами class="gallery"*/           
    display: inline-block;
}

.gallery .bigpic {
    width: 33%;
    height: 100%;
    float: left;
    padding: 3px; 
}

.gallery .widepic {
    width: 66%;
    height: 50%;
    padding: 1px;
}

.gallery .smallpic {
    width: 32.95%;
    height: 50%;
    float: left;
    padding: 2px;
}

/* Конец стилей для галереи */

/* Начало стилей для боковых картинок */
.body {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.body p {
    margin: 0px;
    text-align: justify;
}
.body a {
    color: black;
}

.smallinfo {
    margin-bottom: 5%;
}

.smallinfo .image {
    border: 1px solid blue;
}

.leftblocks {
    width: 15%;
    float: left;
}

.leftblocks h4, .leftblocks p {
    margin: 0px;
    text-align: center;
}

.rightblocks {
    width: 15%;
    float: right;
}

.rightblocks h4, .rightblocks p {
    margin: 0px;
    text-align: center;
}

.image {
    display: inline-block;
    width: 90%;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.cl {
    clear: left;
}
/* Конец стилей для боковых картинок */

/* Начало стилей для центральных верхних картинок */

.middleblock {
    width: 70%;
    float: left;
    align-items: center;
}

.middlepic {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.middlepic h4, .middlepic p {
    margin: 5px 0;
    text-align: center;
}

.middlepic .smallinfo{
    width: 30%;
    float: left; 
    margin: 0 1px;
}


/* Конец стилей для центральных верхних картинок */

/*  */
.footer {
    margin-top: auto;

}
/*  */


/*  */
.block1, .block2 {
    width: 40%; /* Два блока по ширине с отступом */
    float: left;
    border: 2px solid #ddd; /* Рамка как на макете */
    border-radius: 15px; /* Скругленные углы */
    padding: 20px;
    background-color: white;
}

.block1 a.button {
    display: block;
    background-color: #4dabf5;
    color: white;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 3px;
    margin-top: 10px;
    float: right; 
}

.block2 a.button {
    display: block;
    background-color: #4dabf5;
    color: white;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 3px;
    margin-top: 10px;
    float: left;   
}

.block1 h3 {
    text-align: center;   
}



/* Задание */
.zadanie {
    overflow: hidden;
}

.block2 .zadanie {
     overflow: hidden; 
}

.block2 p {
    text-align: justify;
}



.block2 .zadanieimage {
    display: inline-block;
    width: 30%;
    overflow: hidden; 
    vertical-align: middle; 
}

.block2 .zadanieh3 {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;    
}